# Pour créer un environnement virtuel, placez-vous à la racine de votre projet puis lancez la commande suivante :
# python -m venv .venv

# Pour activer l'environnement virtuel :

# Sous Windows PowerShell :
# .\.venv\Scripts\Activate.ps1

# Sous Linux/macOS :
# source .venv/bin/activate

# Une fois l'environnement activé, installez les packages listés dans ce fichier avec la commande :
# pip install -r requirements.txt
streamlit==1.36.0
pandas==2.2.3
numpy==2.2.6
matplotlib==3.10.3
seaborn==0.13.2
scikit-learn==1.6.1
scipy==1.15.2
jupyterlab
ipykernel==6.21.2
openpyxl
xlrd
ipywidgets
jupyterlab-widgets==3.0.7

pyod
statsmodels
plotly
plotly_express
plotly_resampler
prophet
Pillow

